.pipelineName {
    background-color: #503989;
    padding: 20px 10px 20px 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.pipelineD{
    padding-top: 20px;
}

@media only screen and (min-width:300px) and (max-width: 600px){
    .pipelineName{
   font-size: 14px;
    }
    .pipelineD{
font-size: 12px;
    }
}