.pipeline {
    background-color: #503989;
    color: white;
    text-align: center;
    padding: 20px 5px 30px 5px;
    margin-top: 10px;
    border-radius: 20px;
    border: 4px solid green
}
.pipe{
  color: "#2dc1ba";
  font-weight: "bold";
  font-size: "21px" 
}
.btn4 {
    background-color: #f2951a !important;
    border: none !important;
    border-radius: 5px;
    padding: 10px;
    color: white !important;

    width: 40%;

}

.up-down {
    -webkit-animation: mover 1.5s infinite alternate;
    animation: leftRight 1.3s infinite alternate;
}

@keyframes leftRight {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translate(20px, 0px);
    }
}

@media only screen and (min-width:300px) and (max-width: 600px){

    .pipe{
        font-size: 16px;
    }
} 